@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

$main_color: #7d53cc;
$table_border: 1px solid #e9e9e9;
@mixin flex($direction, $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

.page {
    display: flex;
    width: 100%;
    height: 100%;
    .leftBlock {
        width: 75px;
        background-color: #5f35aa;
        color: #fff;
        .nav_bar {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 400px;
            margin-top: 70px;
            .block {
                height: 75px;
                width: 75px;
                @include flex(column, center, center);
                border-bottom: 1px solid rgb(83, 77, 112);
                transition: 0.2s all;
                &:hover {
                    cursor: pointer;
                    transition: 0.2s all;
                    background-color: #7d53cc;
                }
                &:first-child {
                    border-top: 1px solid rgb(83, 77, 112);
                }
                .img_category {
                    width: 35px;
                    height: 35px;
                    margin: 5px 0;
                }
                span {
                    font-size: 8px;
                }
            }
            .active {
                background-color: #7d53cc;
                .click {
                    background-color: #fff;
                }
            }
        }
    }
    .centerBlock {
        flex-grow: 1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        .header {
            background-color: #fbfdfc;
            box-shadow: 0 1px 4px lightgray;
            display: flex;
            z-index: 1;
            .logo {
                @include flex(row, center, center);
                flex-basis: 200px;
                height: 70px;
                background-color: #fff;
                img {
                    width: 100px;
                }
            }
            .search {
                @include flex(row, center, center);
                flex-basis: 350px;
                height: 70px;
                padding: 0 30px;
                background-color: #fff;
                .search_img {
                    width: 20px;
                    margin: {
                        right: 15px;
                    }
                }
                input {
                    width: 100%;
                    height: 35px;
                    padding-left: 10px;
                    font-size: 13px;
                    color: #595959;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $main_color;
                }
            }
        }
        .container {
            background-color: #f4f6f8;
            width: auto;
            height: 100%;
            overflow-x: auto;
            overflow-y: auto;
            position: relative;
            .overflow {
                width: 100%;
                height: 100%;
                background-color: #bdbdbd56;
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
            }
            // Стили категорий
            .info {
                padding: 15px 50px;
                position: relative;
                .row {
                    @include flex(row, space-between, center);
                    .fields {
                        display: flex;
                        .info_about_accounts {
                            margin-left: 20px;
                            padding: 10px;
                            color: #595959;
                            span {
                                border-bottom: 1px solid #595959;
                                padding: 0 5px;
                            }
                        }
                        .field,
                        .field_with_modal {
                            padding: 5px;
                            height: fit-content;
                            color: $main_color;
                            border-bottom: 1px solid $main_color;
                            opacity: 0.4;
                            transition: 0.3s all;
                            &:hover {
                                cursor: pointer;
                            }
                            &:not(:last-child) {
                                margin-right: 20px;
                            }
                        }
                        .active {
                            opacity: 1;
                            transition: 0.3s all;
                        }
                        .field_with_modal {
                            display: flex;
                            padding: 5px 10px 5px 15px;
                            span {
                                margin-right: 10px;
                            }
                            img {
                                align-self: center;
                            }
                        }
                    }
                    .category {
                        color: $main_color;
                        font-size: 60px;
                        opacity: 0.1;
                        font-weight: bold;
                    }
                }
                // Таблица
                .table {
                    background-color: #fff;
                    margin-bottom: 40px;
                    width: 100%;
                    color: #595959;
                    .transit_img {
                        width: 15px;
                        position: absolute;
                        right: 10px;
                        height: 15px;
                        top: 13px;
                    }
                    tr:not(:first-child) {
                        transition: 0.2s all;
                        &:hover {
                            cursor: pointer;
                            transition: 0.2s all;
                            background-color: #FFFEED;
                        }
                    }
                    td,
                    th {
                        text-align: left;
                        border: $table_border;
                        padding: 10px 5px 10px 15px;
                        vertical-align: middle;
                        font-size: 12px;
                    }
                    th {
                        font-weight: 700;
                        .manager {
                            align-self: center;
                            margin-left: 8px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .analytics {
                    tr:not(:first-child) {
                        transition: none;
                        &:hover {
                            transition: none;
                            cursor: default;
                            background-color: #fff;
                        }
                    }
                }
                // Стили карточки клиента
                .card_menu {
                    width: 100%;
                    background-color: #fff;
                    border: $table_border;
                    padding: 20px 30px;
                    margin: {
                        bottom: 30px;
                    }
                    box-sizing: border-box;
                    .title {
                        display: flex;
                        justify-content: space-between;
                        color: lightgray;
                        .left_side {
                            display: flex;
                            span:not(:last-child) {
                                margin-right: 90px;
                            }
                        }
                        .right_side {
                            display: flex;
                            position: relative;
                            .drop_menu {
                                position: absolute;
                                top: -5px;
                                left: -90px;
                                background-color: #fff;
                                width: 220px;
                                border-radius: 10px;
                                border: 1px solid #e9e9e9;
                                font-size: 12px;
                                padding: 5px;
                                z-index: 100;
                                display: none;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            .padl {
                                padding-left: 3px;
                            }
                            .marl {
                                margin-left: 10px;
                            }
                            .close {
                                margin-top: -3px;
                                margin-left: 10px;
                                &:hover {
                                    cursor: pointer;
                                }
                                img {
                                    width: 18px;
                                    margin: 5px;
                                    opacity: 60%;
                                }
                            }
                        }
                    }
                    .content {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        font-size: 12px;
                        .row_card {
                            display: flex;
                            justify-content: space-between;
                            &:not(:last-child) {
                                margin-bottom: 30px;
                            }
                            .list {
                                margin-top: 20px;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                .contract {
                                    margin-bottom: 20px;
                                    width: 230px;
                                    height: 250px;
                                    border: 1px solid lightgray;
                                    border-radius: 5px;
                                    justify-content: center;
                                    align-items: center;
                                    span {
                                        color: gray;
                                        user-select: none;
                                        font-size: 14px;
                                    }
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                            .left_side {
                                width: 500px;
                                margin-right: 20px;
                                display: flex;
                                flex-direction: column;
                                .member {
                                    &:not(:last-child) {
                                        margin-bottom: 10px;
                                    }
                                    .top {
                                        display: flex;
                                        justify-content: space-between;
                                        .role {
                                            font-weight: bolder;
                                            width: 80px;
                                        }
                                        .car {
                                            margin-left: 10px;
                                            width: 40px;
                                            height: 15px;
                                        }
                                        .phone {
                                            width: 100px;
                                        }
                                    }
                                    .bottom {
                                        display: flex;
                                        justify-content: space-between;
                                        .surname {
                                            width: 95px;
                                        }
                                        .fullname {
                                            width: 150px;
                                        }
                                        .email {
                                            width: 145px;
                                        }
                                    }
                                }
                                .delivery {
                                    .top {
                                        justify-content: flex-start;
                                    }
                                }
                            }
                            .hmax {
                                max-height: 175px;
                                overflow-x: hidden;
                                overflow-y: auto;
                                .date {
                                    width: 50px;
                                }
                                .name {
                                    width: 100px;
                                }
                                .stock {
                                    width: 160px;
                                }
                                .driver {
                                    width: 90px;
                                }
                                .price {
                                    width: 30px;
                                }
                            }
                            .events {
                                display: flex;
                                justify-content: space-between;
                            }
                            .info_block {
                                display: flex;
                                flex-direction: column;
                                .mb {
                                    margin-bottom: 15px;
                                }
                                td,
                                th {
                                    border: $table_border;
                                    padding: 5px 10px;
                                    input {
                                        border: none;
                                        width: 100%;
                                    }
                                }
                                th {
                                    font-weight: 600;
                                    color: #595959;
                                }
                                .account_table {
                                    #filter_list {
                                        tr {
                                            transition: 0.2s all;
                                            &:hover {
                                                cursor: pointer;
                                                transition: 0.2s all;
                                                background-color: #FFFEED;
                                            }
                                        }
                                    }
                                    .product td {
                                        height: 20px;
                                        border: none;
                                        border-left: $table_border;
                                        &:last-child {
                                            border-right: $table_border;
                                        }
                                    }
                                    td,
                                    th {
                                        text-align: center;
                                        vertical-align: middle;
                                    }
                                    #exposed_list {
                                        .invoiled {
                                            transition: 0.2s all;
                                            &:hover {
                                                cursor: pointer;
                                                transition: 0.2s all;
                                                background-color: rgb(244, 244, 244);
                                            }
                                        }
                                    }
                                }
                            }
                            .table_block {
                                margin-right: 20px;
                                tr {
                                    td {
                                        &:first-child {
                                            font-size: 11px;
                                            padding-right: 10px;
                                        }
                                    }
                                }
                            }
                            input {
                                border: none;
                                outline: none;
                                border-bottom: 1px solid rgb(196, 196, 196);
                                width: 180px;
                                height: 25px;
                                margin-top: 4px;
                                padding: 5px;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 11px;
                                box-sizing: border-box;
                            }
                            .numbers {
                                width: 50px;
                                margin-right: 10px;
                            }
                            .string {
                                width: 117px;
                            }
                            .costs {
                                font-size: 15px;
                            }
                            .costs_element {
                                display: inline-block;
                                margin-right: 15px;
                                .total_count {
                                    width: 100px;
                                    font-size: 13px;
                                    font-weight: 600;
                                    padding: {
                                        left: 10px;
                                        right: 30px;
                                    };
                                }
                                .lock_input {
                                    background-image: url('../images/unlc.svg');
                                    width: 20px;
                                    height: 20px;
                                    display: inline-block;
                                    position: relative;
                                    top: 5px;
                                    margin: 0 2px;
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .area {
                            width: 100%;
                            height: 200px;
                            display: flex;
                            border: 1px solid lightgray;
                            .history {
                                width: 340px;
                                border-right: 1px solid lightgray;
                                padding: 5px 10px;
                                overflow-x: hidden;
                                overflow-y: auto;
                                .title {
                                    .add_something {
                                        margin-top: 0;
                                    }
                                }
                            }
                            .last_comment {
                                flex-grow: 1;
                                padding: 5px 10px;
                                overflow-x: hidden;
                                overflow-y: auto;
                            }
                            .messages {
                                display: flex;
                                flex-direction: column;
                                margin-top: 10px;
                                .message {
                                    width: 100%;
                                }
                            }
                        }
                        .next {
                            display: flex;
                            justify-content: flex-end;
                            margin-top: 15px;
                        }
                    }
                }
                .modal {
                    position: absolute;
                    top: 120px;
                    right: 60px;
                    width: 70%;
                    z-index: 1;
                }
            }
        }
    }
    .rightBlock {
        width: 330px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        z-index: 1;
        .profile {
            height: 70px;
            background-color: #fff;
            @include flex(row, space-between, center);
            .photo {
                height: 70px;
                flex-basis: 70px;
                img {
                    margin-top: 3px;
                    width: 64px;
                }
            }
            .fieldInfo {
                flex-grow: 1;
                margin-left: 20px;
                .descr {
                    font-size: 11px;
                    color: gray;
                }
            }
            .profile_menu {
                height: 15px;
                margin-right: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .sidebar {
            box-shadow: -1px 0 1px rgb(240, 240, 240);
            width: 330px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            .infoblock {
                width: 100%;
                .create_empty_card {
                    margin: {
                        top: 20px;
                        left: 20px;
                    }
                    ;
                    .title {
                        color: $main_color;
                        border-bottom: 1px solid $main_color;
                        background-color: #fff;
                        font-size: 13px;
                        padding: 5px 10px;
                        width: fit-content;
                    }
                    .mra {
                        margin-left: auto;
                    }
                    .radio_boxs {
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        font-size: 12px;
                        .element {
                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }
                            label {
                                margin-left: 10px;
                            }
                        }
                    }
                    .inputs {
                        margin-top: 20px;
                        .element {
                            td {
                                padding: 5px 0;
                                font-size: 11px;
                                &:last-child {
                                    width: 200px;
                                }
                            }
                            .task_input {
                                width: 100%;
                                border: none;
                                outline: none;
                                border-bottom: 1px solid #c4c4c4;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 10px;
                                -webkit-box-sizing: border-box;
                                box-sizing: border-box;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .mr {
                    margin-right: 20px;
                }
                .buttons {
                    @include flex(row, center, center);
                    height: 80px;
                }
                .title {
                    background-color: $main_color;
                    padding: 13px 20px;
                    color: #fff;
                    .drop-down {
                        align-self: flex-end;
                        margin-left: 15px;
                        height: 19px;
                    }
                    .active {
                        transform: rotate(180deg);
                        align-self: center;
                    }
                }
                .item {
                    padding: 10px 15px;
                    box-shadow: 0px 2px 4px -2px lightgray;
                    display: flex;
                    .importance {
                        align-self: center;
                        width: 24px;
                    }
                    .fieldInfo {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 15px;
                        width: 100%;
                        .row {
                            display: flex;
                            justify-content: space-between;
                            .descr,
                            .time {
                                font-size: 10px;
                                color: gray;
                            }
                        }
                        .name {
                            font-size: 12px;
                        }
                    }
                    .padd {
                        box-sizing: border-box;
                        padding: 5px 15px 5px 15px;
                        margin-left: 0;
                        &:hover {
                            cursor: pointer;
                            background-color: rgb(241, 241, 241);
                        }
                    }
                }
                .empty_cards {
                    margin: 10px 0;
                    padding: 0;
                    box-shadow: none;
                }
                .drop_down_search {
                    display: flex;
                    flex-direction: column;
                    .region {
                        ul {
                            margin-left: 20px;
                            font-size: 12px;
                            list-style: inside;
                            li {
                                margin-top: 5px;
                            }
                        }
                        &:first-child {
                            margin-bottom: 20px;
                        }
                    }
                }
                &:first-child .title:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .login_block {
        background-color: #f4f6f8;
        width: 100%;
        @include flex(row, center, center);
        .block {
            width: 20%;
            z-index: 1;
            .title {
                font-size: 32px;
                color: #595959;
                text-align: center;
                margin-bottom: 30px;
            }
            .content {
                display: block;
                input:not([type="radio"]) {
                    width: 100%;
                    border-radius: 10px;
                    height: 35px;
                    padding: {
                        left: 40px;
                        right: 10px;
                    }
                    ;
                    border: 1px solid lightgray;
                    outline: none;
                    box-sizing: border-box;
                    font-size: 14px;
                    font-family: 'Montserrat',
                    sans-serif;
                }
                input[type="password"] {
                    margin-bottom: 20px;
                }
                .element {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    &:first-child::before {
                        content: url(../images/login.png);
                        position: absolute;
                        transform: scale(0.12);
                        top: -58px;
                        left: -56px;
                    }
                    &:nth-child(2)::before {
                        content: url(../images/password.png);
                        position: absolute;
                        transform: scale(0.12);
                        top: -77px;
                        left: -56px;
                    }
                    .btn {
                        font-size: 15px;
                        width: 200px;
                        height: 40px;
                        font-family: 'Montserrat', sans-serif;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .bg_logo {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 50%;
    }
}

// Common classes
.drop_down_img {
    width: 13px;
    height: 13px;
    transform: rotate(90deg);
}
.hover {
    &:hover {
        cursor: pointer;
    }
}
.mark {
    background-color: #f3ffe9;
    box-shadow: -2px 0 2px 1px #AEF100;
}
.green {
    color: #046334;
}
.red {
    color: #ce4a50;
}
.black {
    color: black;
}
.gray {
    color: #595959;
}
.lightgray {
    color: lightgray;
}
.fit {
    width: fit-content;
}
.flex {
    display: flex;
}
.fd-c {
    flex-direction: column;
}
.jc-fe {
    justify-content: flex-end;
}
.jc-sb {
    justify-content: space-between;
}
.bold {
    font-weight: bold;
}
.column {
    flex-direction: column;
}
.fz10 {
    font-size: 10px;
}
.btn {
    height: 30px;
    width: 140px;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 1px 1px $main_color;
    color: $main_color;
    background-color: #fff;
    &:first-child {
        margin-right: 10px;
    }
    &:hover {
        cursor: pointer;
    }
}
.full {
    width: 100%;
}
.btn-main {
    background-color: $main_color;
    color: #fff;
}
.btn-div {
    padding: 2px 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 11px;
}
#remove_last_row, #remove_last_member {
    display: none;
}
.add_something {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    &:hover {
        cursor: pointer;
    }
}
.pos-rel {
    position: relative;
}
.mrl {
    margin-left: 2px;
}

// Media requests
@media (max-width: 1550px) {
    .page .centerBlock .container .info .card_menu .content #media {
        flex-direction: column;
    }
    .page .centerBlock .container .info .card_menu .content #media .info_block {
        margin-top: 20px;
    }
}

@media (max-width: 1420px) {
    .page .centerBlock .container .info .card_menu .title .left_side span:not(:last-child) {
        margin-right: 60px;
    }
}

@media (max-width: 1350px) {
    .page .centerBlock .container .info .card_menu .content .row_card .info_block .account_table td,
    .page .centerBlock .container .info .card_menu .content .row_card .info_block .account_table th {
        font-size: 10px;
    }
}

@media (max-width: 1285px) {
    .page {
        .centerBlock {
            .container {
                .modal_menu {
                    width: 95%;
                }
                .info {
                    width: 100%;
                    padding: 15px 0px;
                    .row {
                        padding: 0 20px;
                    }
                    .table {
                        td {
                            font-size: 12px;
                        }
                    }
                }
                // Добавление клиента
                .block {
                    .persons {
                        .blockForm {
                            width: 200px;
                            .name {
                                font-size: 16px;
                            }
                            .properties {
                                span {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .rightBlock {
            width: 300px;
            .sidebar {
                width: 300px;
                .infoblock {
                    .buttons {
                        .btn {
                            width: 120px;
                            font-size: 10px;
                        }
                    }
                    .item {
                        .fieldInfo {
                            .row {
                                .descr,
                                .time {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1160px) {
    .page {
        .centerBlock {
            .container {
                .info {
                    .row {
                        .category {
                            font-size: 46px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1070px) {
    .page {
        .rightBlock {
            width: 270px;
            .sidebar {
                width: 270px;
            }
        }
        .centerBlock {
            .container {
                .modal_menu {
                    width: 100%;
                }
                .info {
                    width: 100%;
                    .row {
                        .category {
                            font-size: 40px;
                        }
                        .fields {
                            .info_about_accounts {
                                font-size: 12px;
                                padding: 12px;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Styling radio boxes
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid $main_color;
    background-color: #ffffff;
}

input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
    border-radius: 100%;
}

input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
    left: 6px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $main_color;
}

input[type="radio"]:not(:checked)+label:after {
    opacity: 0;
}

input[type="radio"]:checked+label:after {
    opacity: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// Scrollbar
::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $main_color;
} 