<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        @font-face {
            font-family: 'Montserrat';
            src: url("{{path}}\static\fonts\Montserrat-Regular.ttf");
            font-weight: normal;
        }
        @font-face {
            font-family: 'Montserrat';
            src: url("{{path}}\static\fonts\Montserrat-Bold.ttf");
            font-weight: bold;
        }
        html, body {
            font-family: 'Montserrat', sans-serif;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            font-size: 13px;
        }
        .info {
            display: flex;
            justify-content: space-between;
        }
        .title {
            font-weight: bold;
            text-align: center;
            margin: 20px 0;
        }
        .table {
            width: 750px;
            border-collapse: collapse;
            border-spacing: 0;
        }
        .next {
            margin-top: -1px;
        }
        .bold {
            font-weight: bold;
        }
        .table td {
            height: 20px;
        }
        .bb {
            border: none;
            border-bottom: 1px solid #cecece;
            width: 200px;
        }
        .text p {
            text-indent: 50px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .under {
            text-decoration: underline;
        }
    </style>
    <title>Document</title>
</head>
<body>
        <div class="title bold">ДОГОВОР № 78 <br> оказания услуг по грузоперевозке</div>
        <div class="info">
            <div>г. Новосибирск</div>
            <div>«{{date.d}}» {{date.m}} {{date.y}}.</div>
        </div><br>
        <div class="text" style="margin-top: 30px">
            <p><span class="bold">Индивидуальный предприниматель Балкина Ирина Николаевна</span>, именуемая в дальнейшем «Заказчик», в лице Балкиной Ирины Николаевны, действующей на основании листа записи ЕГРИП от 27.11.2018г. ОГРНИП 318547600198880, с одной стороны, и</p>    
            <p><span class="bold">Индивидуальный предприниматель Бобровский Антон Михайлович</span>, именуемый в дальнейшем «Перевозчик», в лице [Бобровского Антона Михайловича], действующего на основании свидетельства серия [22 № 003906812 от 29.10.2015г.], с другой стороны, заключили настоящий договор о нижеследующем:</p>
        </div>
        <div class="title bold">1. Предмет договора</div>
        <div class="text">
            <p>1.1. Исполнитель обязуется по требованию Заказчика предоставлять транспортные услуги по перевозке
                    грузов (инертных материалов и/или твердого топлива) автотранспортом на основании заявок, представляемых
                    Заказчиком. Заказчик предоставляет заявку на перевозку по факсу или по телефону не позднее, чем за 1 (один)
                    день до дня перевозки.</p>
            <p>1.2. Срок действия Договора установлен сторонами с момента подписания настоящего Договора по [«31»
                    декабря 2019 года]. В том случае, если за 30 (тридцать) дней до истечения срока Договора ни одна из сторон не
                    заявит о своем намерении расторгнуть Договор, действие Договора автоматически пролонгируется на каждый
                    последующий календарный год.</p>
        </div>
        <div class="title bold">2. Обязаности сторон</div>
            <div class="text">
                <p>2.1. Исполнитель обязан:</p>
                <p>а) своевременно предоставлять для перевозки исправный автотранспорт пригодный для перевозки груза;</p>
                <p>б) принимать на себя ответственность за сохранность в пути всех перевозимых по настоящему Договору
                        грузов. Риск случайной гибели и повреждения груза принимается Исполнителем с момента принятия груза и
                        заканчивается с момента передачи груза на основании товарно-транспортной накладной.</p>
                <p>в) своевременно доставить вверенный ему Заказчиком груз в пункт назначения, передать его
                        уполномоченному на получение груза лицу (далее Грузополучателю), получить и затем передать Заказчику
                        оформленные надлежащим образом товарно-транспортные документы о сдаче-приемке груза (доверенность на
                        представителя Грузополучателя (если подпись Грузополучателя в товарно-транспортной накладной не скреплена
                        печатью Грузополучателя); правильно и полно оформленный отрывной талон Заказчика в путевом листе
                        (Типовая форма № 4-П) с указанием даты и времени передачи-приемки груза);</p>    
                <p>г) информировать Заказчика о возникших непредвиденных обстоятельствах в пути, препятствующих
                        своевременной доставке грузов;</p>
                <p>д) информировать Заказчика о прибытии и доставке груза;</p>
                <p>е) оформлять и доставлять Заказчику документы на перевозимые грузы;</p>
                <p>ж) в десятидневный срок рассматривать претензии Заказчика, с последующим его письменным
                        уведомлением.</p>
                <p>2.2. Заказчик обязан:</p>
                <p>а) до прибытия автотранспорта подготовить груз к перевозке, а также пропуска на объекты, где должна
                        осуществляться погрузка и выгрузка грузов;</p>      
                <p>б) предоставить Исполнителю на предъявленный к перевозке груз товарного характера товарно-
                        транспортную накладную, являющуюся основным перевозочным документом, по которому производится прием
                        груза к перевозке, перевозка грузов и сдача его грузополучателю;</p>
                <p>в) осуществлять погрузку груза на предоставленный автотранспорт в кратчайшие сроки, не задерживая
                        транспортное средство. Время прибытия автотранспорта под погрузку и время его убытия после погрузки
                        указывается в отрывном талоне Заказчика в путевом листе (Типовая форма № 4-П);</p>
                <p>г) проверить правильность расчета пробега автотранспорта и оплатить стоимость услуг Исполнителя в
                        соответствии с условиями настоящего Договора и Акта оказания услуг (выполнения работ) по грузоперевозке.</p>
            </div>
        <div class="title bold">3. Расчеты за перевозку</div>
        <div class="text">
            <p>3.1. Стоимость перевозки каждой партии груза рассчитывается и согласовывается Сторонами путем
                    подписания Протокола согласования стоимости услуг по грузоперевозке, либо Спецификации (Приложения).
                    </p>
            <p>3.2. Заказчик оплачивает транспортные услуги Исполнителя в течение 5 (пяти) банковских дней с даты
                            предоставления Исполнителем документов, подтверждающих факт оказания услуги:</p>
            <p>- товарно-транспортной накладной (оформленной надлежащим образом);</p>
            <p>- отрывного талона Заказчика в путевом листе;</p>
            <p>- акта оказания услуг (выполнения работ) по грузоперевозке;</p>
            <p>- счета на оплату;</p> 
            <p>- счета- фактуры.</p>  
            <p>3.3. Форма оплаты – безналичная, путем перечисления денежных средств на расчетный счет Исполнителя
                    либо иным способом, по договоренности сторон, в соответствии с действующим законодательством РФ.
            </p>  
        </div>
        <div class="title bold">4. Ответственность сторон</div>
        <div class="text">
            <p>4.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение обязательств по
                    настоящему Договору в соответствии с действующим законодательством РФ.</p>
            <p>4.2. Возложение исполнения обязательства на третье лицо не освобождает Исполнителя от
                    ответственности перед Заказчиком за исполнение настоящего Договора.</p>   
            <p>4.3. В случае просрочки оплаты услуг Исполнителя свыше 3 (трех) банковских дней Заказчик уплачивает
                    пеню в размере 0,1 % от неоплаченной суммы за каждый день просрочки.</p> 
            <p>4.4. Исполнитель несет ответственность за утрату, недостачу или повреждение груза, произошедшие
                    после принятия его к перевозке и до выдачи грузополучателю, если не докажет, что ущерб был причинен грузу
                    вследствие обстоятельств, которые Исполнитель не мог предотвратить и устранение которых от него не зависело.</p>    
            <p>4.5. Ущерб, причиненный при перевозке груза, возмещается Исполнителем в размере стоимости
                    утраченного или недостающего груза. Стоимость груза определяется исходя из его цены, указанной в товарно-
                    транспортной накладной Заказчика.</p>   
            <p>4.6. Требование о начислении и уплате штрафных санкций должно предъявляться заинтересованной
                    стороной в письменном виде. Без предъявления такого требования начисление и уплата штрафных санкций не
                    производится.</p>   
        </div>
        <div class="title bold">5. Форм-мажор</div>
        <div class="text">
            <p>5.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение
                    обязательств по настоящему Договору, если докажут, что надлежащее исполнение обязательств по настоящему
                    Договору оказалось невозможным вследствие обстоятельств непреодолимой силы, то есть чрезвычайных и
                    непредотвратимых при данных условиях обстоятельств. К таким обстоятельствам могут быть отнесены:
                    наводнение, землетрясение, заносы, пожары и иные природные катаклизмы, военные действия, эпидемии,
                    прекращение или ограничение перевозки груза в определенных направлениях, установленных актами органов
                    государственной власти, а также в других случаях, предусмотренных действующим законодательством.
                    </p>
            <p>5.2. Если любое из таких обстоятельств или их последствий непосредственно повлияло на исполнение
                    обязательства в срок, установленный в настоящем Договоре, то этот срок соразмерно отодвигается на время
                    действия соответствующего обстоятельства.</p>
        </div>
        <div class="title bold">6. Расторжение договора</div>
        <div class="text">
            <p>6.1. Договор может быт расторгнут досрочно по соглашению сторон, либо по истечении 10 (десяти) дней с
                    момента подачи одной из сторон заявления о расторжении Договора при условии полного выполнения сторонами
                    своих обязательств по настоящему Договору.</p>
            <p>6.2. При неоднократном невыполнении Исполнителем своих обязательств по настоящему Договору
                    Заказчик вправе в одностороннем порядке расторгнуть Договор, письменно предупредив об этом Исполнителя за
                    10 (десять) рабочих дней.</p>
            <p>6.3. При неоднократном невыполнении Заказчиком своих обязательств по настоящему Договору
                    Исполнитель вправе в одностороннем порядке расторгнуть Договор, письменно предупредив об этом Заказчика,
                    за 10 (десять) рабочих дней.</p>
            <p>6.4. Расторжение Договора одной из сторон не освобождает стороны от удовлетворения претензий,
                    поступивших до заявления о расторжении Договора.</p>
        </div>
        <div class="title bold">7. Дополнительные условия</div>
        <div class="text">
            <p>7.1. Все споры по настоящему Договору решаются путем переговоров.</p>
            <p>7.2. В случае невозможности урегулирования имеющихся разногласий путем переговоров, все споры
                    решаются в соответствии с действующим законодательством РФ в арбитражном суде по месту нахождения истца.
                    </p>
            <p>7.3. Все изменения и дополнения к Договору оформляются в письменной форме и подписываются обеими
                    сторонами.</p>
            <p>7.4. Все приложения к настоящему Договору являются неотъемлемой его частью.</p>
            <p>7.5. В части неурегулированной настоящим Договором, отношения стороны регламентируются
                    действующим законодательством РФ.</p>
            <p>7.6. Договор подписан в двух экземплярах, по одному для каждой из сторон.</p>
        </div>
        <div class="title bold">8. Реквизиты сторон</div>
        <table class="table">
            <tr>
                <td width="360" class="title bold">ЗАКАЗЧИК:</td>
                <td class="title bold">ИСПОЛНИТЕЛЬ:</td>
            </tr>
            <tr>
                <td class="bold">ИП Балкина Ирина Николаевна</td>
                <td class="bold">{{document.Name}}</td>
            </tr>
            <tr>
                <td>Юр.адрес: 630056,г.Новосибирск,
                        ул. Ветлужская 30 кв.209</td>
                <td>Юр. Адрес: 659814, Алтайский край, с.
                    Полковниково, Косихинский район, Озерная, д. 37</td>
            </tr>
            <tr>
                <td>ИНН: 540863594080</td>
                <td>ИНН 224901051013</td>
            </tr>
            <tr>
                <td>р/с 40802810570010144473</td>
                <td>Р/с 40802810732170000113</td>
            </tr>
            <tr>
                <td>Банк: МОСКОВСКИЙ ФИЛИАЛ АО КБ &quot;МОДУЛЬБАНК&quot;</td>
                <td>Банк: ФИЛИАЛ ПАО &quot;БАНК УРАЛСИБ&quot; В
                        Г.НОВОСИБИРСК</td>
            </tr>
            <tr>
                <td>БИК: 044525092</td>
                <td>БИК: 045004725</td>
            </tr>
            <tr>
                <td>к/с № 30101810645250000092</td>
                <td>к/с 30101810400000000725</td>
            </tr>
            <tr>
                <td>ОГРНИП: 318547600198880</td>
                <td>ОГРН 315222500017200</td>
            </tr>
            <tr>
                <td>т.8-913-936-62-52</td>
                <td>т. 8-913-028-8008; 8-913-029-8169</td>
            </tr>
            <tr>
                <td></td>
                <td>КПП 540243001</td>
            </tr>
            <tr>
                <td><div class="bb"></div>(Балкина И.Н.)</td>
                <td><div class="bb"></div>({{document.Client_contact_name}})</td>
            </tr>
        </table>
    </body>
</html>