<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="static/js/datepicker.min.js"></script>
    <link href="static/css/reset.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/style.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/datepicker.min.css" rel="stylesheet" type="text/css">

    <title>Bars CRM</title>
</head>

<body>
    <div class="page">
        <div class="leftBlock">
            <div class="mini_logo" id="mini_logo" onclick="adminPanel()">
                <img src="static/images/mini_logo.png" alt="">
            </div>
            <div class="nav_bar" id="nav_bar"></div>
        </div>
        <div class="centerBlock">
            <header class="header">
                <div class="logo">
                    <a href="https://kormabars.ru/">
                        <img src="static/images/logotype.png" alt="">
                    </a>
                </div>
                <div class="search">
                    <img src="static/images/search.png" id="search_button" class="search_img" alt="">
                    <input type="search" id="search" name="search" placeholder="Поиск" maxlength="50">
                </div>
            </header>
            <div class="container">
                <div class="info"></div>
            </div>
        </div>
        <div class="rightBlock">
            <div class="profile">
                <div class="fieldInfo" id="username"></div>
                <div class="logout" onclick="document.location.href = '/logout'">
                    <img src="static/images/points.png" class="profile_menu">
                </div>
            </div>
            <div class="sidebar">
                <div class="infoblock">
                    <div class="title flex" id="search_dropMenu">
                        <span>Поиск по региону</span>
                        <div class="drop-down">
                            <img src="static/images/dropmenu.svg" class="drop_down_img" alt="">
                        </div>
                    </div>
                </div>
                <div class="infoblock" id="createCT"></div>
                <div class="infoblock" id="tasks_list">
                    <div class="title">
                        <span>Действующие задачи</span>
                    </div>
                    <div class="empty">Нет задач</div>
                    <div id="current_tasks"></div>
                </div>
                <div class="infoblock" id="tasks_list_e">
                    <div class="title">
                        <span>Просроченные задачи</span>
                    </div>
                    <div class="empty">Нет просроченных задач</div>
                    <div id="expired_tasks"></div>
                </div>
                <div class="infoblock">
                    <div class="title">
                        <span>Карточки клиентов</span>
                    </div>
                    <div class="item empty_cards fd-c" id="empty_customer_cards"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/jquery.maskedinput.min.js?u={{last_update}}"></script>
    <script src="static/js/other/dm.min.js?u={{last_update}}" type="text/javascript"></script>
    <script src="static/js/categories/tfill.min.js?u={{last_update}}" type="text/javascript"></script>
    <script src="static/js/categories/cfill.js?u={{last_update}}" type="text/javascript"></script>
    <script src="static/js/other/other.js?u={{last_update}}" type="text/javascript"></script>
    <script src="static/js/data.min.js?u={{last_update}}" type="text/javascript"></script>
    <script src="static/js/main.min.js?u={{last_update}}" type="text/javascript"></script>
    <script src="static/js/card/card_menu.min.js?u={{last_update}}" type="text/javascript"></script>
    <script src="static/js/card/content_card_menu.min.js?u={{last_update}}" type="text/javascript"></script>
</body>

</html>